/* print.css Print Styles */

/* Base Styles */

/* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
/* Italic on i, em, and cite: */
i,em,cite { font-style: italic; }
/* Dotted border and help cursor to abbr and acronym: */
abbr,acronym { border-bottom: 1px dotted; cursor: help; }

/*
  Print all text color as black.
*/

* { color: black; }

/*
  Hide the accessibility navigation, the site navigation,
  and footer, which are unhelpful when a page
  is printed.
*/

ul.accessibility,
ul#navigation,
div#footer, 
div#supporting {
	display: none;
}

/*
  Automatically print the URLs from hyperlinks in the
  content area of a page, and put them in a monospace font,
  in parentheses.
  This may not work on less standards-compliant browsers,
  which do not support the :after pseudoelement and/or
  the content: property.
  See http://www.alistapart.com/articles/goingtoprint/
*/

div#content a:link:after,
div#content a:visited:after {
   content: " (" attr(href) ") ";
   font-size: 90%;
   font-family: "Courier New", Courier, monospace;
   font-style: normal;
}

/* Body */

body {
	font-family: sans-serif;
	font-size: 11pt;
	}

/* Major Divisions */

/* Page (Containing Div) */

/* Header */

div#header {
	font-family: serif;
	text-align: center;
	}
	
div#header h1 {
	font-size: 20pt;
	}	
	
div#header p.tagline {
	font-size: 12pt;
	}

div#header a {
	text-decoration: none;
	}

div#header a:after {
	content: none;
	}
	
/* Content */
div#content img {
	display: block;
}
	
div#content ul.imagegallery {
	margin: 0px 0px 25px 0px;
	}

div#content ul.imagegallery li {
	float: none;
	padding: 0px 15px 25px 0px;
	list-style-type: none;
	text-align: left;
	font-size: 9pt;
	font-style: italic;
	}

/* Content Typography: Headings */
div#content h2,h3,h4,h5,h6 {
	font-family: serif;
	}

div#content h2 {
	font-size: 20pt;
	margin: 25px 0px 12.5px 0px;
}
div#content h3 {
	font-size: 16pt;
	border-bottom: 1px dotted #8B8386;
	padding-bottom: 5px;
	margin: 0px 0px 12.5px 25px;
}
div#content h4 {
	font-size: 13pt;
	margin: 0px 0px 5px 50px;
}
div#content h5 {
	font-size: 11pt;
	margin: 0px 0px 2.5px 75px;
}
div#content h6 {
	font-size: 11pt;
	font-style: italic;
	margin: 0px 0px 5px 75px;
}

/* Content Typography: Paragraphs */
div#content p {
	margin: 0px 0px 25px 0px;
}

div#content p.resume {
	margin: 0px 0px 25px 100px;
}

/*Main Content Typography: Unordered Lists*/
div#main ul {
	margin: 0px 0px 25px 100px;
}
div#main ul li {
	list-style-image: none;
	list-style-type: disc;
}

/*Nested*/
div#main * li ul {
	margin: 0px 0px 0px 25px;
}
div#main * li ul li {
	list-style-image: none;
	list-style-type: circle;
}
