/* screen.css: Screen Styles */


/* BASE STYLES */

	/* Bold on headings, b, and strong */
	h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
	
	/* Italic on i, em, and cite: */
	i,em,cite { font-style: italic; }
	
	/* Dotted border and help cursor to abbr and acronym: */
	abbr,acronym { border-bottom: 1px dotted; cursor: help; }

	
/* COLORS */
	
	/* Color names from http://cloford.com/resources/colours/500col.htm
		lavenderblush 3 #CDC1C5 (lighter)
		lavenderblush 4 #8B8386 (darker)
		gray 24 #3D3D3D (dark)
		gray 87 #DEDEDE (light)
		plum 4 #8B668B
	*/

#content {
	color: #3D3D3D;
	}

h1 {
	color: white;
	}

h2,h3,h5,h6 {
	color: #8B8386;
	}

h4,a {
	color: #8B668B;
	}

ul#navigation {
	background-color: #CDC1C5;
	}

#navigation a {
	color: #3D3D3D;
	}

#header,#footer {
	background-color: #8B8386;
	}

div#header a,p.tagline {
	color: white;
	}

div#footer a, div#footer p {
	color: #DEDEDE;
	}

div#supporting {
	background-color: #8b8386;
	color: #CDC1C5;
	}

div#supporting a {
	color: white;
	}

	
/* ACCESSIBILITY */

ul.accessibility {
	position: absolute;
	left: -10000px;
	}


/* BODY */

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	}


/* MAJOR DIVISIONS */


/* PAGE (CONTAINING DIV) */

div#page {
	width: 960px;
	margin: 0 auto;
	position: relative;
	}

	
/* HEADER */

div#header {
	background-image: url('gfx/header.png');
	height: 150px;
	text-indent: -10000px;
	}
	
div#header h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 200%;
	}

/* Make background image clickable, CSS help from http://haacked.com/archive/2006/01/13/ClickableBackgroundImagesViaCSS.aspx */
div#header a {
	position: absolute;
	top: 0;
	left: 0;
	width: 960px;
	height: 150px;
	}

div#header p.tagline {
	font-style: italic;
	}

	
/* CONTENT */

div#content img {
	display: block;
	}

div#main {
	margin-top: 50px;
	min-height: 350px;
	}

div.supportingpresent {
	width: 695px;
	margin-right: 25px;
	}

div#content ul.imagegallery {
	margin: 0px 0px 25px 50px;
	}

div#content ul.imagegallery li {
	float: left;
	padding: 0px 15px 25px 0px;
	list-style-type: none;
	text-align: center;
	font-size: 80%;
	font-style: italic;
	}

div#content .imagegallery + * {
	clear: both;
	}

div#supporting {
	width: 225px;
	min-height: 155px;
	position: absolute;
	top: 200px;
	right: 0px;
	padding: 10px 0px 15px 15px;
	}

div#supporting li {
	font-weight: bold;
	list-style-type: none;
	margin: 5px 0px 0px 0px;
	}

div#supporting * li ul li {
	list-style-image: none;
	list-style-type: circle;
	font-weight: normal;
	font-size: 95%;
	margin: 0px 0px 0px 25px;
	}

div#supporting * li ul a {
	font-weight: normal;
	}


/* FOOTER */

div#footer {
	clear: both;
	min-height: 15px;
	padding: 5px;
	margin-top: 25px;
	}

div#footer p {
	font-size: 50%;
	}

div#footer p.credits {
	float: left;
	}

div#footer p.validators {
	float: right;
	}

div#footer a {
	font-weight: normal;
	text-decoration: underline;
	}

	
/*NAVIGATION*/

ul#navigation {
	position: absolute;
	top: 150px;
	height: 25px;
	}

ul#navigation li {
	width: 192px;
	float: left;
	}

ul#navigation li a {
	display: block;
	height: 25px;
	text-decoration: none;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
	}

ul#navigation li a:hover, ul#navigation li a:focus {
	background-color: white;
	}

/* Allows current page tab to be highlighted, code help from http://www.hicksdesign.co.uk/else/cssnav/index.html */
body#home a#homenav, body#about a#aboutnav, body#resume a#resumenav, body#portfolio a#portfolionav, body#contact a#contactnav {
    background-color: white;
	}

	
/*CONTENT TYPOGRAPHY: HEADINGS*/

div#content h2,h3,h4,h5,h6 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	}

div#content h2 {
	font-size: 170%;
	margin: 0px 0px 12.5px 25px;
	}
	
div#content h3 {
	font-size: 150%;
	border-bottom: 1px dotted #8B8386;
	padding-bottom: 5px;
	margin: 0px 0px 12.5px 50px;
	}
	
div#content h4 {
	font-size: 130%;
	margin: 0px 0px 5px 75px;
	}
	
div#content h5 {
	font-size: 100%;
	margin: 0px 0px 2.5px 100px;
	}
	
div#content h6 {
	font-size: 95%;
	font-style: italic;
	margin: 0px 0px 5px 100px;
	}

	
/*CONTENT TYPOGRAPHY: PARAGRAPHS*/

div#content p {
	margin: 0px 0px 25px 50px;
	}

div#content p.resume {
	margin: 0px 0px 25px 125px;
	}

	
/*MAIN CONTENT TYPOGRAPHY: UNORDERED LISTS*/

div#main ul {
	margin: 0px 0px 25px 125px;
	}

div#main ul li {
	list-style-image: none;
	list-style-type: disc;
	}

	
/*NESTED*/

div#main * li ul {
	margin: 0px 0px 0px 25px;
	}
	
div#main * li ul li {
	list-style-image: none;
	list-style-type: circle;
	}


/*CONTENT TYPOGRAPHY: LINKS*/

div#content a,a:link {
	text-decoration: none;
	font-weight: bold;
	}

div#content a:hover, div#content a:focus {
	text-decoration: underline;
	}
