/* screen.css: Screen Styles */

/* Base Styles */

/* Bold on headings, b, and strong */
h1,h2,h3,h4,h5,h6,b,strong { font-weight: bold; }
/* Italic on i, em, and cite: */
i,em,cite { font-style: italic; }
/* Dotted border and help cursor to abbr and acronym: */
abbr,acronym { border-bottom: 1px dotted; cursor: help; }

/* COLORS
	Color names from http://cloford.com/resources/colours/500col.htm 
	lavenderblush 3 #CDC1C5 (lighter)
	lavenderblush 4 #8B8386 (darker)
	gray 24 #3D3D3D
	plum 4 #8B668B
*/

#content {
	color: #3D3D3D;
	}

h1 {
	color: white;
	}

h2,h3,h5,h6 {
	color: #8B8386;
	}

h4 {
	color: #8B668B;
	}

a {
	color: #8B668B;
	}

ul#navigation {
background-color: #CDC1C5;
}	
	
#navigation a {
	color: #3D3D3D;
	}
	
#header {
	background-color: #8B8386;
	}
	
div#header a,p.tagline {
	color: white;
	}

div#supporting {
	background-color: #8b8386;
	color: #CDC1C5;
	}

div#supporting a {
	color: white;
	}

/* Accessibility */
ul.accessibility {
	position: absolute;
	left: -10000px;
}

/* Body */

body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

img {
	display: block;
}

/* Major Divisions */

/* Page (Containing Div) */
div#page {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

/* Header */
div#header {
	height: 75px;
	padding: 25px;
}
div#header h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 200%;
}
div#header h1 a {
}
div#header p.tagline {
	font-style: italic;
}
div#header ul.accessibility {
}

/* Content */
div#content {
}

div#main {
	margin-top: 50px;
	min-height: 165px;
}

div#main .supportingpresent {
	width: 720px;
}

div#content ul.imagegallery li {
	float: left;
	padding: 0px 5px 0px 20px;
	list-style-type: none;
	text-align: center;
	font-size: 80%;
	font-style: italic;
}

div#supporting {
	width: 225px;
	min-height: 155px;
	position: absolute;
	top: 175px;
	right: 0px;
	padding: 10px 0px 15px 15px;
}

div#supporting li {
	font-weight: bold;
	list-style-type: none;
	margin: 5px 0px 0px 0px;
}

div#supporting * li ul li {
	list-style-image: none;
	list-style-type: circle;
	font-weight: normal;
	font-size: 95%;
	margin: 0px 0px 0px 25px;
}

div#supporting * li ul a {
	font-weight: normal;
}


/* Footer */
div#footer {
}
div#footer p.credits {
}
div#footer ul.validators {
}
div#footer ul.validators li {
}

/*Navigation*/
ul#navigation {
	position: absolute;
	top: 125px;
	height: 25px;
}

ul#navigation li {
	width: 192px;
	float: left;
}

ul#navigation li a {
	display: block;
	height: 25px;
	text-decoration: none;
	text-align: center;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-weight: bold;
}

ul#navigation li a:visited {
}

ul#navigation li a:hover,
ul#navigation li a:focus {
	background-color: white;
}


/*Content Typography: Headings*/
div#content h2,h3,h4,h5,h6 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

div#content h2 {
	font-size: 170%;
	margin: 10px 0px 10px 0px;
}
div#content h3 {
	font-size: 150%;
	border-bottom: 1px dotted #8B8386;
	margin: 0px 0px 0px 10px;	
	padding: 5px; 
}
div#content h4 {
	font-size: 130%;
	margin: 10px 0px 0px 20px;
}
div#content h5 {
	font-size: 100%;
	margin: 5px 0px 0px 35px;
}
div#content h6 {
	font-size: 95%;
	font-style: italic;
	margin: 2px 0px 0px 35px;
}

/*Content Typography: Paragraphs*/
div#content p {
	margin: 5px 50px 30px 35px;
}

/*Main Content Typography: Unordered Lists*/
div#main ul {
	margin: 5px 0px 30px 50px;
}
div#main ul li {
	list-style-image: none;
	list-style-type: disc;
}
/*Nested*/
div#main * li ul {
	margin: 0px 0px 0px 25px;
}
div#main * li ul li {
	list-style-image: none;
	list-style-type: circle;
}

/*Content Typography: Ordered Lists*/
div#main ol {
}
div#main ol li {
}
/*Nested*/
div#main * li ol {
}
div#main * li ol li {
}

/*Content Typography: Links*/
div#content a,a:link {
	text-decoration: none;
	font-weight: bold;
}
div#content a:visited {
}
div#content a:hover,
div#content a:focus {
	text-decoration: underline;
}

